<table class="highlight">
  <thead>
    <tr>
      <th data-field="checkbox"></th>
      <th data-field="id"><%= t('jera_push.admin.devices.attributes.id') %></th>
      <th data-field="token"><%= t('jera_push.admin.devices.attributes.token') %></th>
      <th data-field="platform"><%= t('jera_push.admin.devices.attributes.platform') %></th>
      <th data-field="resource"><%= t('jera_push.admin.devices.attributes.resource') %></th>
      <th>
        <%= button_tag t('jera_push.admin.buttons.send_all'), type: 'button', class: 'btn btn-action', onclick: 'addAllDevices()' %>
      </th>
      <th width="5%">
        <%= button_tag t('jera_push.admin.buttons.remove_all'), type: 'button', class: 'btn btn-action', onclick: 'removeAllDevices()' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% devices.each do |device| %>
      <tr>
        <td>
          <%= check_box_tag "devices[]", device.id, false, id: "device_#{device.id}" %>
          <%= label_tag "device_#{device.id}", ''%>
        </td>
        <td><%= device.id %></td>
        <td><%= device.token.truncate(40) %></td>
        <td><%= device.platform %></td>
        <td colspan="4">
          <% resource_extras(device).each do |attribute| %>
            <div><%= attribute %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>