<table class="highlight bordered">
  <thead>
    <tr>
      <th data-field="id"><%= t('jera_push.admin.devices.attributes.id') %></th>
      <th data-field="platform"><%= t('jera_push.admin.devices.attributes.platform') %></th>
      <th data-field="resource"><%= t('jera_push.admin.devices.attributes.resource') %></th>
      <th data-field="token"><%= t('jera_push.admin.devices.attributes.token') %></th>
    </tr>
  </thead>
  <tbody>
    <% devices.each do |device| %>
      <tr>
        <td class="col s2">
          <%= device.id %>
        </td>
        <td class="col s2">
          <%= device.platform %>
        </td>
        <td class="col s2">
          <span><%= device.pushable.name %></span>
          <strong style="white-space: nowrap;">
            <%=
              if (device.pushable.email)
                device.pushable.email
              end
            %>
          <strong>
        </td>
        <td class="col s2">
          <%= device.token %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
