<nav>
  <div class="nav-wrapper">
    <a href="<%= jera_push_admin_path %>" class="brand-logo">
      <img src="https://jera.com.br/images/logo-facebook.png" alt="Jera Software Logo">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="<%= 'active' if current_page?(jera_push_admin_devices_path) %>">
      	<a href="<%= jera_push_admin_devices_path %>">
      		<%= t('jera_push.admin.navbar.devices') %>
    		</a>
    	</li>
      <li class="<%= 'active' if current_page?(jera_push_admin_messages_path) %>">
      	<a href="<%= jera_push_admin_messages_path %>">
      		<%= t('jera_push.admin.navbar.messages') %>
  			</a>
      </li>
      <li class="<%= 'active' if current_page?(new_jera_push_admin_message_path) %>">
        <a href="<%= new_jera_push_admin_message_path %>">
          <%= t('jera_push.admin.navbar.new_message') %>
        </a>
      </li>
    </ul>
  </div>
</nav>