<h3><%= t('jera_push.active_record.model.messages') %></h3>

<table class="bordered">
  <thead>
    <tr>
      <th data-field="id">
        <%= t('jera_push.admin.messages.attributes.id') %>
      </th>
      <th data-field="content">
        <%=  t('jera_push.admin.messages.attributes.content') %>
      </th>
      <th data-field="date">
        <%= t('jera_push.admin.messages.attributes.date') %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td width="10%"><%= message.id %></td>
        <td width="50%"><div class="json-message"><%= message.list_content %></div></td>
        <td width="30%"><%= message.display_created_at %></td>
        <td width="10%"><%= message.show_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>
