<table>
  <thead>
    <tr>
      <th data-field="id"><%= t('jera_push.admin.messages.attributes.id') %></th>
      <th data-field="name"><%= t('jera_push.admin.messages.attributes.message') %></th>
      <th data-field="price"><%= t('jera_push.admin.messages.attributes.date') %></th>

    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= format_message(message.message) %></td>
        <td><%= message.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= link_to t('jera_push.admin.messages.action.details'), jera_push_admin_message_path(message), class: 'waves-effect waves-light btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>
