<div class="messages-show-container">

  <div class="details">
    <h3><%= t('jera_push.active_record.model.message.one') %></h3>

    <span class="field">
      <%= t('jera_push.active_record.messages.attributes.id') %>
    </span>
    <blockquote class="json-message"><%= @message.id %></blockquote>

    <span class="field">
      <%= t('jera_push.active_record.messages.attributes.content') %>
    </span>
    <blockquote class="json-message"><%= @message.display_content %></blockquote>

    <span class="field">
      <%= t('jera_push.active_record.messages.attributes.status') %>
    </span>
    <blockquote class="json-message"><%= @message.status %></blockquote>
  </div>

  <div class="devices">
    <h3><%= t('jera_push.active_record.model.device.other') %></h3>

    <%= render partial: 'jera_push/admin/devices/filter', locals: {filter_path: device_filter_jera_push_admin_message_path(@message), filter: @filter} %>

    <div class="devices-list" id="device_list">
      <%= render partial: 'jera_push/admin/devices/list', locals: {devices: @devices} %>
    </div>

  </div>

</div>
